---
import type { Media as Props } from '~/types';
import Headline from '../ui/Headline.astro';
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import Image from '~/components/common/Image.astro';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  lightSrc,
  darkSrc,
  href = undefined,
  target = undefined,
  width = undefined,
  height = undefined,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-xl mx-auto mt-0 mb-10 py-0 md:py-0 lg:py-0 ${classes?.container ?? ''}`}
  bg={bg}
>
  <Headline
    title={title}
    subtitle={subtitle}
    tagline={tagline}
    classes={{
      container: 'max-w-xl sm:mx-auto lg:max-w-2xl',
      title: 'text-4xl md:text-5xl font-bold tracking-tighter mb-4 font-heading',
      subtitle: 'max-w-3xl mx-auto sm:text-center text-xl text-muted dark:text-slate-400',
    }}
  />
  <div class="max-w-xl mx-auto text-center my-0 py-0">
    {
      lightSrc && (
        <Image
          src={lightSrc}
          alt={title ? title : subtitle}
          href={href ? href : undefined}
          target={target ? target : undefined}
          width={width}
          height={height}
          layout="responsive"
          class="mx-auto dark:hidden"
        />
      )
    }
    {
      darkSrc && (
        <Image
          src={darkSrc}
          alt={title ? title : subtitle}
          href={href ? href : undefined}
          target={target ? target : undefined}
          width={width}
          height={height}
          layout="responsive"
          class="mx-auto hidden dark:inline"
        />
      )
    }
  </div>
</WidgetWrapper>
