---
import type { PasswordField as Props } from '~/types';
import { twMerge } from 'tailwind-merge';
import FormLabel from '~/components/forms/FormLabel.astro';
import FormError from '~/components/forms/FormError.astro';

const {
  name,
  label = undefined,
  placeholder = '',
  minLength = 8,
  maxLength = 32,
  pattern = undefined,
  required = true,
  error = undefined,
  value = '',
} = Astro.props;
---

<div class="mb-6">
  <FormLabel name={name} label={label} required={required} />
  <input
    type="password"
    name={name}
    id={name}
    autocomplete="on"
    placeholder={placeholder}
    minlength={minLength}
    maxlength={maxLength}
    pattern={pattern}
    value={value}
    class={twMerge(
      'py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900',
      error
        ? 'shadow appearance-none border border-red-500 rounded leading-tight focus:outline-none focus:shadow-outline'
        : ''
    )}
    {...required ? { required: 'true' } : {}}
  />
  <FormError error={error} />

  <script is:inline define:vars={{ id: name, value: value }}>
    document.addEventListener('astro:page-load', () => {
      document.getElementById(id).value = value;
    });
  </script>
</div>
