---
import type { AgreementField as Props } from '~/types';
import { twMerge } from 'tailwind-merge';
import FormLabel from '~/components/forms/FormLabel.astro';
import FormError from '~/components/forms/FormError.astro';
import RadioAgreementJS from '~/components/forms/fields/react/RadioAgreement.jsx';

const {
  name,
  label = undefined,
  instruction = undefined,
  required = false,
  error = undefined,
  value = '0',
} = Astro.props;
---

<div class="mb-6">
  <div class="mb-6">
    <fieldset
      name={name}
      id={name}
      class={twMerge(
        'py-3 px-4 block w-full text-md rounded-lg',
        error
          ? 'shadow appearance-none border border-red-500 rounded leading-tight focus:outline-none focus:shadow-outline'
          : ''
      )}
    >
      <div class="mb-5 pb-4 border-b-2">
        <FormLabel name={name} label={label} required={required} />
      </div>
      <RadioAgreementJS name={name} instruction={instruction} value={value ? value : '0'} client:load />
      <FormError error={error} />
    </fieldset>
  </div>
</div>
