---
import type { SelectField as Props } from '~/types';
import { twMerge } from 'tailwind-merge';
import FormLabel from '~/components/forms/FormLabel.astro';
import FormError from '~/components/forms/FormError.astro';

const {
  name,
  label = undefined,
  multiple = false,
  options = [],
  required = false,
  error = undefined,
  value = undefined,
} = Astro.props;
---

<div class="mb-6">
  <FormLabel name={name} label={label} required={required} />
  <select
    name={name}
    id={name}
    value={value}
    class={twMerge(
      'py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900',
      error
        ? 'shadow appearance-none border border-red-500 rounded leading-tight focus:outline-none focus:shadow-outline'
        : ''
    )}
    {...multiple ? { multiple: 'true' } : {}}
    {...required ? { required: 'true' } : {}}
  >
    {
      options.map(
        ({ name, label = '' }) =>
          name && (
            <option
              value={name}
              {...((Array.isArray(value) && value.includes(name)) || (value && value == name)
                ? { selected: 'true' }
                : {})}
            >
              {label ? label : name}
            </option>
          )
      )
    }
  </select>
  <FormError error={error} />
</div>
